.buttonStyles {
   border: 1px rgb(224, 211, 211) solid;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 5px;
   color: #1a1e8d;
   font-size: 14px;
   display: flex;
   align-items: center;
   font-weight: 500;
   padding: 2px 15px;
   line-height: 30px;

   width: min-content;
   white-space: nowrap;

   transition: 0.2s;
}
.buttonStyles:hover {
   user-select: none;
   cursor: pointer;
   background-color: rgb(86, 50, 245);
   color: white;
   border-color: white;

}
