.navbarContainer{
        display: flex;
        justify-content: space-between;
        color: aliceblue;

        font-size: 26px;
        padding: 16px;

        background: linear-gradient( 90deg, #767add, #fea8d7) fixed;
}

.addColumn{
        border: 1px rgb(224, 211, 211) solid;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        color: #1a1e8d;
        
}

.addColumn:hover{
        color: aliceblue;
        user-select: none;
        cursor: pointer;
}